{% extends "layout.html"%}
{% block content%}

<section class="bg-secondary text-light p-5 p-lg-0 pt-lg-5 text-center text-sm-start">
    <div class="container">
        <div class="d-sm-flex align-items-center justify-content-between">
            <div>
                <h1 class="mb-10"> Let's <span class="text-warning"> play!</span></h1>
                <p class="lead my-4">
                    We want to enjoy !
                </p>
                <a class="btn btn-danger btn-lg border"
                    href="/Info">
                    <i class="bi bi-info-square-fill m-3"></i>information
                </a>

            </div>
            <img class="img-fluid w-50 d-none d-sm-block" src="{{url_for('static', filename='Showcase.png')}}"width="200"height="200">
        </div>
    </div>
</section>


<!-- games -->


<section class="bg-ligh">
    <div class="container p-5">
        <h3 class="text-center bg-dark text-warning" id='two'> Tow player</h3>

        <div class="row">
            {% for game in games %}
            <div class="col-sm-12 col-md-6 col-lg-4 p-3 d-flex align-items-stretch">
                <a href="{{ url_for('start_game', game_id=game.id) }}" class="text-decoration-none" >
                    <div class="card bg-dark text-light">
                        <div class="card-body text-center">
                            <img src="{{url_for('static', filename=game.icon)}}" class="card-img w-25">
                            <h4 class="card-title mb-4">
                                {{game.name}}
                            </h4>
                            
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<section class="bg-ligh">
    <div class="container p-5">
        <h3 class="text-center bg-dark text-warning" id='Ai'>With AI</h3>
        
        <div class="row">
            {% for game in Games2 %}
            <div class="col-sm-12 col-md-6 col-lg-4 p-3 d-flex align-items-stretch">
                <a href="{{ url_for('start_game', game_id=game.id) }}" class="text-decoration-none">
                    <div class="card bg-dark text-light">
                        <div class="card-body text-center">
                            <img src="{{url_for('static', filename=game.icon)}}"  class="card-img w-25">
                            <h4 class="card-title mb-4">
                                {{game.name}}
                            </h4>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>



{% endblock content%}
